<h1 class="nav-item"><%= @veggy.name %></h1>
<%= image_tag @veggy.image, class: "img_fluid" %>
<% if @veggy.user == current_user %>
  <%= link_to "Edit", edit_veggy_path, class: "btn btn-warning" %>
  <%= link_to "Destroy", @veggy, method: :delete, class: "btn btn-danger" %>
<% end %>
<p><%= link_to "Back to Veggies", veggies_path, class: "text-success" %></p>
